<!-- Person Management Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Person Management</ion-title>
    <ion-buttons slot="end">
      <!-- Menu preset from main-menu.component -->
      <ion-menu-button menu="main-menu" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Person Management Content -->
<ion-content class="ion-padding">
  <!-- Add new person -->
  <ion-button (click)="onNewPerson()" shape="round">
    <ion-icon slot="start" name="person-add-outline"></ion-icon>New person
  </ion-button>
  <!-- People list -->
  <ion-list>
    <app-person 
      *ngFor="let person of getPeopleList()" 
      [person]="person" 
      (onEdit)="onEditPerson($event)" 
      (onDelete)="onDeletePerson($event)">
    </app-person>
  </ion-list>
</ion-content>