<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Person Management</ion-title>
    <ion-buttons slot="end">
      <!-- Menu preset from main-menu.component -->
      <ion-menu-button menu="main-menu" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="onNewPerson()" shape="round">
    <ion-icon slot="start" name="person-add"></ion-icon>Add person
  </ion-button>

  <ion-list *ngFor="let person of getPeopleList()">
    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start" *ngIf="person.image">
          <img [src]="person.image" />
        </ion-avatar>
        <!-- Default image -->
        <ion-avatar slot="start" *ngIf="!person.image">
          <img
            [src]="'https://imgs.search.brave.com/FYUF8XYrEVF1JKNurfYdQ4GUx9cEmoUU3qLwl6yZVb8/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly92aWdu/ZXR0ZS53aWtpYS5u/b2Nvb2tpZS5uZXQv/bG9nb3BlZGlhL2lt/YWdlcy9hL2EzL1Vu/a25vd24tMTUwMDU1/NzIxMS5wbmcvcmV2/aXNpb24vbGF0ZXN0/P2NiPTIwMTcwNzIw/MTMyNjUx'" />
        </ion-avatar>
        <ion-label>{{person.name}} "{{person.nickname}}" {{person.surname}}</ion-label>
      </ion-item>
      <!-- Slide options -->
      <ion-item-options side="end">
        <ion-item-option (click)="onEditPerson(person)">
          <ion-icon slot="top" name="create"></ion-icon>Modify
        </ion-item-option>
        <ion-item-option color="danger" (click)="onDeleteAlert(person)">
          <ion-icon slot="top" name="trash"></ion-icon>Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>