<!-- Header of the person formulary -->
<ion-header>
  <ion-toolbar>
    <ion-title>{{mode=="New"?"Add assignment":"Modify assignment"}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Content of the assignment formulary -->
<ion-content class="ion-padding">
  <!-- Assignment form -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <!-- Person selector -->
    <app-person-selectable formControlName="personId"></app-person-selectable>
    <!-- Task selector -->
    <app-task-selectable formControlName="taskId"></app-task-selectable>
    <!-- Date time selector -->
    <ion-item>
      <ion-label>Starts at:</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime doneText="Confirm" cancelText="Cancel" showDefaultButtons="true" preferWheel="true"
            name="dateTime" id="datetime" (ionChange)="changeDate($event)"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <!-- Add or Modify button -->
    <ion-button [disabled]="!form.valid" shape="round" type="submit">
      <ion-icon class="add-or-update" slot="start" [name]="mode=='New'?'add-circle-outline':'build-outline'"></ion-icon>{{mode=="New"?"Add":"Update"}}
    </ion-button>
  </form>
</ion-content>