<!-- Data of one person -->
<ion-reorder-group [disabled]="mode=='Normal'||mode=='Edit'" (ionItemReorder)="handleReorder($any($event))">
  <ion-item class="main-content">
    <!-- Person image -->
    <ion-avatar slot="start" *ngIf="person.image">
      <img [src]="person.image" />
    </ion-avatar>

    <!-- Default image -->
    <ion-avatar slot="start" *ngIf="!person.image">
      <img [src]="'../../../../assets/img/unknown.png'" />
    </ion-avatar>
    <!-- Data -->
    <ion-label>{{person.name}} {{person.surname}}</ion-label>
    <!-- Reorder disabled if in Normal or Edit mode -->
    <ion-item>
      <ion-reorder [ngClass]="{disabled: mode=='Normal' || mode=='Edit'}" slot="end"></ion-reorder>
    </ion-item>
    <!-- Edit Person -->
    <ion-button *ngIf="mode == 'Edit'" (click)="onEditPerson()" shape="round" fill="clear">
      <ion-icon class="icon-high-res" color="medium" name="create"></ion-icon>
    </ion-button>
    <!-- Delete Person -->
    <ion-button *ngIf="mode == 'Edit'" (click)="onDeletePerson()" shape="round" fill="clear">
      <ion-icon class="icon-high-res" color="danger" name="close-outline"></ion-icon>
    </ion-button>
    <!-- Edit Person in High Resolution -->
    <ion-button *ngIf="!isLowRes()" (click)="onEditPerson()" shape="round" fill="clear">
      <ion-icon class="icon-high-res" color="medium" name="create"></ion-icon>
    </ion-button>
    <!-- Delete Person in High Resolution -->
    <ion-button *ngIf="!isLowRes()" (click)="onDeletePerson()" shape="round" fill="clear">
      <ion-icon class="icon-high-res" color="danger" name="close-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-reorder-group>