<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Assignment Management</ion-title>
    <ion-buttons slot="end">
      <!-- Menu preset from main-menu.component -->
      <ion-menu-button menu="main-menu" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Assignment Management Content -->
<ion-content>
  <!-- Add new assignment -->
  <ion-button (click)="onNewAssignment()" shape="round">
    <ion-icon slot="start" name="add-circle-outline"></ion-icon>New assignment
  </ion-button>
  <!-- Assignments list -->
  <ion-list>
    <app-assignment 
      *ngFor="let assignment of getAssignmentsList()"
      [assignment]="assignment"
      [person]="getPersonAssigned(assignment.personId)"
      [task]="getTaskAssigned(assignment.taskId)"
      (onEdit)="onEditAssignment($event)"
      (onDelete)="onDeleteAssignment($event)">
    </app-assignment>
  </ion-list>
</ion-content>