<!-- Header of the task formulary -->
<ion-header>
  <ion-toolbar>
    <ion-title>{{mode=="New"?"Add task":"Modify task"}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Content of the task formulary -->
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <!-- Task name input -->
    <ion-item>
      <ion-label position="floating">Task name</ion-label>
      <ion-input type="text" placeholder="Enter a task name" formControlName="name"></ion-input>
    </ion-item>
    <!-- Task time required input -->
    <ion-item>
      <ion-label position="floating">Time required</ion-label>
      <ion-input type="number" placeholder="Enter time required" formControlName="timeInSeconds"></ion-input>
    </ion-item>
    <!-- Add or Modify button -->
    <ion-button [disabled]="!form.valid" shape="round" type="submit">
      <ion-icon class="add-or-update" slot="start" [name]="mode=='New'?'add-circle-outline':'build-outline'"></ion-icon>{{mode=="New"?"Add":"Update"}}
    </ion-button>
  </form>
</ion-content>