<!-- Header of the task formulary -->
<ion-header>
  <ion-toolbar>
    <ion-title>{{mode=="New"?('modal.addTask' | translate):('modal.modifyTask' | translate)}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">{{'modal.close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Content of the task formulary -->
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <!-- Task name input -->
    <ion-item>
      <ion-label position="floating">{{'form.name' | translate}}</ion-label>
      <ion-input type="text" placeholder="Enter a task name" formControlName="name"></ion-input>
    </ion-item>
    <!-- Task time required input -->
    <ion-item>
      <ion-label position="floating">{{'form.task.timeReq' | translate}}</ion-label>
      <ion-input type="number" placeholder="Enter time required" formControlName="timeInSeconds"></ion-input>
    </ion-item>
    <!-- Add or Modify button -->
    <ion-button [disabled]="!form.valid" shape="round" type="submit">
      <ion-icon class="add-or-update" slot="start" [name]="mode=='New'?'add-circle-outline':'build-outline'"></ion-icon>{{mode=="New"?('modal.addBtn' | translate):('modal.modifyBtn' | translate)}}
    </ion-button>
  </form>
</ion-content>