<!-- Data of one assignment -->
<ion-item-sliding #sliding [disabled]="!closeIfLowRes(sliding)">
  <ion-item>
    <ion-avatar slot="start" *ngIf="task.image">
      <img [src]="task.image" />
    </ion-avatar>

    <!-- Default image -->
    <ion-avatar slot="start" *ngIf="!task.image">
      <img [src]="'http://drive.google.com/uc?export=view&id=1CeHRfhK4YqedNKKxvNYHDEKuxIKIn771'" />
    </ion-avatar>
    

    <ion-button *ngIf="!isLowRes()" (click)="onEditAssignment()" shape="round" fill="clear">
      <ion-icon class="icon-high-res" color="medium" name="create"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!isLowRes()" (click)="onDeleteAssignment()" shape="round" fill="clear">
      <ion-icon class="icon-high-res" color="danger" name="trash"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Slide options -->
  <ion-item-options side="end">
    <ion-item-option (click)="onEditAssignment()">
      <ion-icon slot="top" name="create"></ion-icon>Modify
    </ion-item-option>
    <ion-item-option color="danger" (click)="onDeleteAssignment()">
      <ion-icon slot="top" name="trash"></ion-icon>Delete
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>