<!-- Data of one assignment -->
<ion-item>
  <ion-card [ngClass]="isLowRes?'card-low-res':'card-high-res'">
    <ion-card-header>
      <ion-card-subtitle>Created at {{ assignment.createdAt | date: "short" }}</ion-card-subtitle>
      <ion-card-subtitle>Starts at {{ assignment.dateTime | date: "short" }}</ion-card-subtitle>
      <ion-card-title>{{ task.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{ person.name }} is doing this task </ion-card-content>
    <ion-button (click)="onEditAssignment()" shape="round" fill="clear">
      <ion-icon class="icon-high-res" color="medium" name="create"></ion-icon>
    </ion-button>
    <ion-button (click)="onDeleteAssignment()" shape="round" fill="clear">
      <ion-icon class="icon-high-res" color="danger" name="trash"></ion-icon>
    </ion-button>
  </ion-card>
</ion-item>