<!-- Task Management Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Task Management</ion-title>
    <ion-buttons slot="end">
      <!-- Menu preset from main-menu.component -->
      <ion-menu-button menu="main-menu" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Task Management Content -->
<ion-content class="ion-padding">
  <!-- Tasks list -->
  <ion-list>
    <!-- Tasks list header -->
    <ion-list-header>
      <ion-label>Tasks List</ion-label>
      <ion-button *ngIf="isLowRes()" (click)="onEditMode()" expand="block" fill="clear" shape="round">
        <ion-icon slot="end" [name]="mode=='Normal'?'add':'remove'"></ion-icon>{{mode=="Normal"?"Normal":mode=="Edit"?'Edit':'Organize'}} mode
      </ion-button>
    </ion-list-header>
    <!-- Tasks data -->
    <app-task 
      *ngFor="let task of (getTasksList() | async)" 
      [task]="task"
      [mode]="mode"
      (onEdit)="onEditTask($event)"
      (onDelete)="onDeleteTask($event)">
    </app-task>
  </ion-list>
  <!-- Fab Button Add New Task -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onNewTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>