<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Task Management</ion-title>
    <ion-buttons slot="end">
      <!-- Menu preset from main-menu.component -->
      <ion-menu-button menu="main-menu" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="onNewTask()" shape="round">
    <ion-icon slot="start" name="person-add"></ion-icon>Add task
  </ion-button>

  <ion-list *ngFor="let task of getTaskList()">
    <ion-item-sliding>
      <ion-item>
        <ion-label>{{task.name}}. Time: {{task.timeInSeconds}}</ion-label>
      </ion-item>
      <!-- Slide options -->
      <ion-item-options side="end">
        <ion-item-option (click)="onEditTask(task)">
          <ion-icon slot="top" name="create"></ion-icon>Modify
        </ion-item-option>
        <ion-item-option color="danger" (click)="onDeleteAlert(task)">
          <ion-icon slot="top" name="trash"></ion-icon>Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>